{% extends 'base.html.twig' %}

{% block title %}Exercice index{% endblock %}

{% block body %}
    <h1>Exercice </h1>

    <table class="table">
        <thead>
            <tr>

                <th>NomEx</th>
                <th>CatEx</th>
                <th>NumSer</th>
                <th>NumRep</th>
                <th>img</th>


            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
            <tr>

                <td>{{ exercice.nomEx }}</td>
                <td>{{ exercice.categorie }}</td>
                <td>{{ exercice.numSer }}</td>
                <td>{{ exercice.numRep }}</td>
            <td><img src="{{vich_uploader_asset(exercice, 'imageFile')}}" ></td>


        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exercice_new') }}">Create new</a>
{% endblock %}
