{% block body %}
    <p>*********************************************************************************************</p>
    <h1 >Product MASLAG </h1>
    <p>*********************************************************************************************</p>
    <p>----------------------------------------------------------------------------------------------</p>
    <h2 >LISTE DE PRODUITS</h2>
    <p>-----------------------------------------------------------------------------------------------</p>
    {% for product in products %}
        <h5>(NOM) : {{ product.NomP }}</h5>
        <h5>(MARQUE) : {{ product.MarqueP }}</h5>
        <h5>(Quantite) : {{ product.QuantiteP }}</h5>
        <h5>(PRIX) : {{ product.PrixP }} D</h5>
        <h5>(CATEGORIE) : {{ product.categorie }}</h5>
        <hr href="{{ path('product1_controllers1_show', {'id': product.id}) }}"><hr></hr></a>
    {% endfor %}
{% endblock %}



